<!doctype html>
<html>
<head>
    <meta name="package-mapping" content="content:eu.europa.ec.leos.ui.component"/>
    <meta name="package-mapping" content="comp:eu.europa.ec.leos.web.ui.component"/>
    <meta name="package-mapping" content="act:eu.europa.ec.leos.web.ui.component.actions"/>
    <meta name="package-mapping" content="toc:eu.europa.ec.leos.ui.component.toc"/>
</head>
<body>
    <vaadin-vertical-layout size-full spacing="false" margin="false">
        <vaadin-horizontal-layout width-full spacing>
            <vaadin-label style-name="leos-annexview-icon" contentMode="HTML" width="32px" :middle :left>
                <span>&#xe7e1</span>
            </vaadin-label>
            <vaadin-label _id="annexTitle" style-name="leos-annexview-title" :expand="1.0" width-full :middle :left></vaadin-label>
            <comp-menu-bar-component width="73px" :top :right/>
        </vaadin-horizontal-layout>
        <vaadin-vertical-layout size-full :top :center :expand="1.0" spacing="false" margin="false">
            <vaadin-horizontal-split-panel _id="annexSplit" :expand="1.0">
                <vaadin-horizontal-split-panel _id="contentSplit" :expand="1.0">
                    <content-comparison-component _id="comparisonComponent"/>
                    <comp-annex-component _id="annexDoc" :top :left size-full :expand="1.0" spacing="false" margin="false">
                        <vaadin-horizontal-layout style-name="leos-viewdoc-docbar leos-viewdoc-padbar-both" width-full spacing>
                            <act-annex-actions-menu-bar _id="actionsMenuBar" immediate :middle :left ></act-annex-actions-menu-bar>
                            <vaadin-label _id="versionInfoLabel" :expand="1.0" :middle :center></vaadin-label>
                            <vaadin-button _id="refreshNoteButton" style-name="link text-refresh-note" :middle :right></vaadin-button>
                            <vaadin-button _id="refreshButton" icon="fonticon://Vaadin-Icons/e790" style-name="link leos-toolbar-button" :middle :right></vaadin-button>
                        </vaadin-horizontal-layout>
                        <content-leos-display-field _id="annexContent" id="docContainer" style-name="leos-doc-content" size-full :expand="1.0"/>
                    </comp-annex-component>
                </vaadin-horizontal-split-panel>
                <toc-table-of-content-component _id="annexToc" size-full :expand="1.0" spacing="false" margin="false"/>
            </vaadin-horizontal-split-panel>
        </vaadin-vertical-layout>
    </vaadin-vertical-layout>
</body>
</html>
