$SPINDLE_BLUE: #ADBDCE;
$LIGHT_PINK_COLOR: #FFFAFF;
$PALE_BLUE: #E1EFFE;
$HEATHER: #ADB4BB;
$DARK_GREY: #A9A9A9;

@mixin import {

    .leos-import-content {
        overflow: auto;
        color: black;
        position: relative;
        border: 2px solid $GREY;
        padding: 20px;
        background: url('../../img/import-bkground.png');
        background-size: 1.7% 100%;
        background-repeat:no-repeat;
    }

    .leos-import-search-info-icon .v-icon {
        color: $MAIN_BLUE;
        font-size: 15px;
    }

    .leos-import-wrapper {
        position:relative;
        border: 1px solid transparent;
        
        & .leos-wrapped-content {
            border: 1px solid transparent;
            border-left: 5px solid  transparent;
            padding: 0 5px; 
        }
        
        &:hover {
            border-color: $SPINDLE_BLUE;
        }
        
        & > input[type="checkbox"] {
            position: relative;
            float: left;
            left: -18px;
            top: 15px;
            
            &:checked ~ .leos-wrapped-content {
                background-color: $PALE_BLUE;
                border-color: $HEATHER;
            }
        }
    }

    .leos-import-selectAll {
        border-radius: 5px;
        padding: 0 4px;
    }

    .leos-import-selectAll-active {
        background: $LIGHT_BLUE;
        border: 1px solid $LIGHT_BLUE;
        color: $WHITE;
        transition: none;
     }    
    
    .leos-non-import-wrapper {
        color:$DARK_GREY;
        padding: 0 5px; 
    }
}
