@import "editbox";

$BLOCK_PADDING_FROM_RIGHT: 25px;
$BLOCK_PADDING_FROM_LEFT: 40px;
$GREY_COLOUR: #707070;
$RED_COLOUR: #ce2a2a;
$HEADING_BLUE: #2a78e4;
@mixin proposalView {

    .proposal-view {
        @include editbox;

        .ui-block-heading {
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAADImlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4wLWMwNjAgNjEuMTM0Nzc3LCAyMDEwLzAyLzEyLTE3OjMyOjAwICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1IE1hY2ludG9zaCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo0RDlEODFDNzZGNDkxMUUyOEQxQ0Q3MUZFQzBGOEFFNyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo0RDlEODFDODZGNDkxMUUyOEQxQ0Q3MUZFQzBGOEFFNyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjREOUQ4MUM1NkY0OTExRTI4RDFDRDcxRkVDMEY4QUU3IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjREOUQ4MUM2NkY0OTExRTI4RDFDRDcxRkVDMEY4QUU3Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+9cVYUAAAABVJREFUGFdj+A8ETJcuXWIAsv7/BwBPlwpxzD6xIwAAAABJRU5ErkJggg==') repeat-x scroll 0 10px;
            display: block;
            .ui-block-caption {
                color: $HEADING_BLUE;
                background-color: $WHITE;
                font-size: 16px;
                padding-right: 5px;
                display: inline;
            }
            .end-button {
                font-size: 23px;
                margin-top: -3px;
                line-height: normal;
                cursor: pointer;
                background-color: $WHITE;
            }
        }

        .ui-block-content {
            padding-left: $BLOCK_PADDING_FROM_LEFT;
            padding-right: $BLOCK_PADDING_FROM_RIGHT;
        }

        .sub-block {
            padding-left: $BLOCK_PADDING_FROM_LEFT;
        }

        .delete-button {
            color: $RED_COLOUR;
        }

        .top-block {
            .doc-title {
                font-size: 20px;
            }
            .doc-type {
                padding-left: 0.4em;
            }
            .doc-purpose {
                font-weight: bold;
                * {
                    padding-top: 0; //to void the extra big size of box
                    padding-bottom: 0;
                }
                .editboxText {
                    padding-left: 0;
                }
            }
            .v-menubar-friendly {
                color: $MAIN_BLUE;
                &:after {
                    font-family: "Vaadin-Icons";
                    border: 1px solid $MAIN_BLUE;
                }
                &:hover {
                    background: $LIGHT_BLUE;
                    color: $WHITE;
                }
            }
            .delete-all-button {
                float: right;
                &:hover {
                    background: $RED_COLOUR;
                }
            }
        }

        .details-block {
            [class*="firstrow"] > td {
                //overriding the special padding for first and last row for formlayout
                padding-top: 9px;
            }
            [class*="lastrow"] > td {
                padding-bottom: 9px;
            }
            .proposal-language {
                padding-left: 5px;
                color: $GREY_COLOUR;
            }
            .v-select select {
                border: none;
            }
            .eea-relevance { //to align with captions of other fields
                margin-left: -90px;
                margin-top: 9px;
            }
        }

        .annexes-block {
            .create-annex-button {
                color: green;
            }
            .annex-block {
                .title {
                    padding-left: 51px; //number to align it with language
                }

               .move-up-button,
               .move-down-button{
                   visibility:hidden;
                   cursor: pointer;
                   color:$GREY_COLOUR;
                   &:hover{
                       color:$LIGHT_BLUE;
                   }
                }

                &:hover {
                    .move-up-button,
                    .move-down-button {
                        visibility: visible;
                    }
                }
            }
            .v-slot-annex-block:first-child .annex-block:hover .move-up-button,
            .v-slot-annex-block:last-child  .annex-block:hover .move-down-button{
                visibility: hidden;
            }
        }

        .collaborator-block {
            .add-collaborator-button {
                color: green;
            }
            //set Grid without borders
            .v-grid {
                .v-grid-tablewrapper {
                    border-color: transparent;
                    border-top: none;
                    .v-grid-header {
                        border-bottom: 1px solid $G_BORDER_COLOR;
                        th {
                            border-color: transparent;
                        }
                    }
                    .v-grid-body {
                        .v-grid-row-stripe > td {
                            /*background-color:$white;*/
                        }
                        .v-grid-row td {
                            border-color: transparent;
                        }
                        .cr-component-cell .v-filterselect [class*="input"] {
                            border-color: transparent;
                            background: none;
                        }
                    }
                }
                &.v-disabled{
                    opacity: 1;
                }
            }
            .v-grid-header-deco {
                border-color: transparent;
            }
            .v-grid-editor {
                .v-grid-editor-cells .cr-editor-field {
                    padding-left: 0;
                    padding-right: 0;
                }
                //change button styles to icons
                .v-grid-editor-save,
                .v-grid-editor-cancel {
                    margin-left: -4px; //hide the original captions using margin and  color
                    color: transparent;
                    padding: inherit; //override the default padding
                    &:after {
                        font-family: "Vaadin-Icons";
                        color: $MAIN_BLUE;
                        padding: 5px 11px; //create the box using border and padding
                        border: 1px solid $MAIN_BLUE;
                    }
                }
                .v-grid-editor-save:after {
                    content: "\e75b";
                }
                .v-grid-editor-cancel:after {
                    content: "\e7ad";
                }
            }
        }

        .v-caption-leos-caption-on-left + .leos-caption-on-left {
            position: absolute;
            top: 0;
            left: 90px;
            color: $GREY_COLOUR;
        }
    }

    //This style is an overlay and is not contained in view So need to put outside scope
    .v-filterselect-suggestpopup [class$="suggestmenu"] {
        border: 1px solid $LIGHT_BLUE;
        box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
    }
}
