<!doctype html>
<html>
<head>
    <meta charset="UTF-8" name="package-mapping" content="leos:eu.europa.ec.leos.web.ui.component">
    <meta charset="UTF-8" name="package-mapping" content="users:eu.europa.ec.leos.web.ui.component.collaborators">
</head>
<body>
<v-vertical-layout primary-style-name="proposal-view" size-full margin-bottom="false">

    <v-vertical-layout style-name="top-block" height-auto width-full spacing="false" margin="false">
        <v-horizontal-layout width-full>
            <v-label _id="docStage" style-name="doc-title doc-stage" size-auto :top="" :left=""></v-label>
            <v-label _id="docType" style-name="doc-title doc-type" size-auto :top="" :left=""></v-label>
            <v-label size-auto="true" :center="" :expand="">&nbsp;</v-label>
            <vaadin-button _id="closeButton" style-name="primary" plain-text :top="" :right=""/>
        </v-horizontal-layout>
        <leos-edit-box-component _id="docPurpose" style-name="doc-title doc-purpose" width-full></leos-edit-box-component>
        <v-horizontal-layout width="64.5%" spacing="false" margin="false">
            <vaadin-link _id="shareProposalLink" icon="fonticon://Vaadin-Icons/e76d" :left></vaadin-link>
            <v-horizontal-layout style-name="ui-block-content" width="350px" :right spacing="false" margin="false">
                <vaadin-menu-bar _id="exportProposal" style-name="friendly" :left></vaadin-menu-bar>
                <vaadin-button _id="downloadProposal" style-name="friendly" :center>Download</vaadin-button>
                <vaadin-button _id="deleteProposal" style-name="delete-all-button friendly">Delete</vaadin-button>
            </v-horizontal-layout>
        </v-horizontal-layout>
    </v-vertical-layout>

    <v-horizontal-layout style-name="bottom-pane" :expand="1" size-full spacing margin="false">
        <v-vertical-layout :expand=".65" primary-style-name="first-column" spacing margin="false">
            <v-vertical-layout style-name="ui-block details-block" spacing="false" margin="false">
                <leos-heading-component _id="detailsBlockHeading" width-full></leos-heading-component>
                <v-horizontal-layout style-name="ui-block-content" width-full spacing margin="false">
                    <v-form-layout :expand=".7">
                        <leos-edit-box-component _id="packageTitle" style-name="package-title" enabled="false"></leos-edit-box-component>
                        <leos-edit-box-component _id="template" style-name="template" enabled="false"></leos-edit-box-component>
                        <v-label _id="proposalLanguage" style-name="proposal-language"></v-label>
                    </v-form-layout>
                    <v-form-layout :expand=".3">
                        <v-native-select _id="securityLevel" style-name="security-level" immediate width-full enabled="false"></v-native-select>
                        <leos-edit-box-component _id="internalRef" enabled="false"></leos-edit-box-component>
                        <v-check-box _id="eeaRelevance" style-name="eea-relevance" immediate enabled="false"></v-check-box>
                    </v-form-layout>
                </v-horizontal-layout>
            </v-vertical-layout>

            <v-vertical-layout _id="memorandumBlock" style-name="ui-block" spacing="false" margin="false">
                <leos-heading-component _id="memorandumBlockHeading" width-full></leos-heading-component>
                <v-horizontal-layout style-name="ui-block-content" width-full spacing="false" margin="false">
                    <vaadin-button _id="memorandumOpenButton" icon="fonticon://FontAwesome/f061" style-name="open-button" plain-text :top :right></vaadin-button>
                </v-horizontal-layout>
                <v-horizontal-layout style-name="ui-block-content" width-full spacing="false" margin="false">
                    <v-label _id="memorandumLanguage" style-name="leos-caption-on-left" plain-text :top :left :expand=".1"></v-label>
                    <v-label :center="" :expand=".5">&nbsp;</v-label>
                    <v-label _id="memorandumLastUpdated" style-name="last-updated" size-auto plain-text :top :right :expand=".4">Updated: Updated by Updated on
                    </v-label>
                </v-horizontal-layout>
            </v-vertical-layout>

            <v-vertical-layout _id="legalTextBlock" style-name="ui-block" width-full spacing="false" margin="false">
                <leos-heading-component _id="legalTextBlockHeading" width-full></leos-heading-component>
                <v-horizontal-layout style-name="ui-block-content" width-full spacing="false" margin="false">
                    <vaadin-button _id="legalTextOpenButton" icon="fonticon://FontAwesome/f061" style-name="open-button" plain-text :top :right></vaadin-button>
                </v-horizontal-layout>
                <v-horizontal-layout style-name="ui-block-content" width-full spacing="false" margin="false">
                    <v-label _id="legalTextLanguage" style-name="leos-caption-on-left" plain-text :top :left :expand=".1"></v-label>
                    <v-label size-auto="true" :center="" :expand=".5">&nbsp;</v-label>
                    <v-label _id="legalTextLastUpdated" style-name="last-updated" size-auto plain-text :top :right :expand=".4">Updated: Updated by Updated on</v-label>
                </v-horizontal-layout>

                <v-vertical-layout style-name="sub-block annexes-block" spacing="false" margin="false">
                    <leos-heading-component width-full _id="annexesBlockHeading"></leos-heading-component>
                    <v-vertical-layout _id="annexesLayout" size-full spacing="false" margin="false"></v-vertical-layout>
                </v-vertical-layout>
            </v-vertical-layout>
        </v-vertical-layout> <!-- end of first column -->

        <v-vertical-layout style-name="second-column collaborator-block" :expand=".35" size-full margin-left>
            <leos-heading-component _id="collaboratorsBlockHeading" width-full></leos-heading-component>
            <users-collaborators-component _id="collaboratorsComponent" style-name="sub-block" :expand="1" size-full></users-collaborators-component>
        </v-vertical-layout>
        <!-- end of second column -->

    </v-horizontal-layout>

</v-vertical-layout>
</body>
</html>
