<!doctype html>
<html>
<head>
    <meta charset="UTF-8" name="package-mapping" content="leos:eu.europa.ec.leos.web.ui.component">
</head>
<body>
<v-vertical-layout style-name="ui-block" width-full spacing="false" margin="false">
    <leos-heading-component _id="heading" width-full></leos-heading-component>
    <v-horizontal-layout style-name="ui-block-content" width-full spacing>
        <vaadin-button _id="moveUpButton" icon="fonticon://FontAwesome/f062" primary-style-name="icon-only" style-name="borderless move-up-button" :top :left/>
        <v-label _id="titleCaption" size-auto :top :left/>
        <leos-edit-box-component _id="title" style-name="title" immediate :top :left :expand=""/>
        <v-label _id="annexUserCoEdition" style-name="leos-user-coedition" plain-text :middle :right></v-label>
        <vaadin-button _id="openButton" icon="fonticon://FontAwesome/f061" style-name="open-button" plain-text :top :right/>
    </v-horizontal-layout>
    <v-horizontal-layout style-name="ui-block-content" width-full spacing>
        <vaadin-button _id="moveDownButton" icon="fonticon://FontAwesome/f063" primary-style-name="icon-only" style-name="borderless move-down-button" :top :left/>
        <v-label _id="language" style-name="leos-caption-on-left" size-auto plain-text :top :left :expand=".1"></v-label>
        <v-label size-auto="true" :center="" :expand=".5">&nbsp;</v-label>
        <v-label _id="lastUpdated" style-name="last-updated" size-auto plain-text  :top :right :expand=".4">Updated: Updated by Updated on</v-label>
    </v-horizontal-layout>
</v-vertical-layout>
</body>
</html>
