<!doctype html>
<html>
<meta charset="UTF-8" name="package-mapping" content="leos:eu.europa.ec.leos.web.ui.component.card">
<head/>
<body>
<vaadin-horizonal-layout primary-style-name="repository-view" style-name="leos-repository" margin spacing size-full>
    <vaadin7-vertical-layout primary-style-name="first-column" style-name="leos-card-filters" _id="filterArea" size-full :expand=".2">
    </vaadin7-vertical-layout>
    <vaadin-vertical-layout primary-style-name="second-column" size-full :expand=".8" margin="false" spacing>
        <vaadin-horizontal-layout spacing width-full>
            <vaadin-button style-name="icon-only leos-refresh-button"  icon="fonticon://FontAwesome/f021" _id="refreshButton" :top="" :left=""></vaadin-button>
            <vaadin-button style-name="icon-only select-display-button" icon="fonticon://Vaadin-Icons/e7e6" _id="selectDisplayButton" :top="" :left=""></vaadin-button>
            <vaadin-horizontal-layout style-name="v-component-group" :expand="1.0" :top="" :left="" size-full spacing="false">
                <vaadin7-text-field _id="searchBox" style-name="inline-icon" icon="fonticon://Vaadin-Icons/e805" immediate width-full :expand="1.0"></vaadin7-text-field>
                <vaadin-button style-name="group-button" _id="sortAscButton" id="ASC" icon="fonticon://Vaadin-Icons/e7ce"></vaadin-button>
                <vaadin-button style-name="group-button" _id="sortDescButton" id="DESC" icon="fonticon://Vaadin-Icons/e7d1"></vaadin-button>
            </vaadin-horizontal-layout>
            <vaadin-button style-name="friendly" _id="uploadDocumentButton" visible="false" :top="" :right=""></vaadin-button>
            <vaadin-button style-name="primary" _id="createDocumentButton" :top="" :right=""></vaadin-button>
        </vaadin-horizontal-layout>
        <leos-card-holder _id="cardHolder" size-full :expand="1.0"></leos-card-holder>
    </vaadin-vertical-layout>
</vaadin-horizonal-layout>
</body>
</html>
