// root path to use for all modules/resources lookup
baseUrl: "/",
// standard MIME type for JavaScript
scriptType: "application/javascript",
// loading modules/resources timeout in seconds (0 = no timeout)
waitSeconds: 0,
// extra query string arguments appended to URLs of resources
// ts = current timestamp to force refresh of browser's cache
urlArgs: "ts=" + (new Date()).getTime()