<header id="ec-html-bundle-top"  class="ec-header">
    <div class="top">
        <div class="content">
            <div class="ec-header-languages" location="languagesDropdown"></div>
            <div class="ec-header-user" location="user"></div>
            <div class="logout-button" location="logoutButton"></div>
        </div>
    </div>
    <div class="title">
        <div class="content">
            <div class="ec-header-application-title" location="applicationName"></div>
        </div>
    </div>
    <div class="sub-title">
        <div class="content">
            <div class="ec-header-logo" location="headerLogo"></div>
            <nav id="header-menu">
                <div class="home-icon" location="homeIcon"></div>
                <div class="breadcrumb" location="breadcrumb"></div>
                <div class="resize-button" location="resizeButton"></div>
            </nav>
        </div>
    </div>
</header>
