// root path to use for all modules/resources lookup
baseUrl: "/",
// standard MIME type for JavaScript
scriptType: "application/javascript",
// map given module ID into substitute module ID
map: {
    "*": {
        core: "js/editor/core",
        plugins: "js/editor/plugins",
        profiles: "js/editor/profiles",
        transformer: "js/editor/transformer"
    }
},
// loading modules/resources timeout in seconds (0 = no timeout)
waitSeconds: 0,
// extra query string arguments appended to URLs of resources
// ts = current timestamp to force refresh of browser's cache
urlArgs: "ts=" + (new Date()).getTime()