@charset "UTF-8";
.renditionContainer {
}

.renditionTocContent {
    float: left;
    width: 25%;
    padding: 10px 0 0 10px;
    overflow: auto;
    height: 98%; /*firefox needs this*/
    max-height: calc(100% - 10px);
}

.renditionAkomaNtosoContent {
    float: left;
    background: #EEEEF0;
    width: 70%;
    overflow: auto;
    height: 100%; /*firefox needs this*/
    max-height: calc(100% - 10px);
}

.renditionTocContent .title {
    color: #0066A5;
}

ul.jqtree-tree .jqtree-title {
    margin-left: 19px;
    color: #474747;
    font: 400 14px/1.55 "Open Sans";
    white-space: nowrap;
}

ul.jqtree-tree .jqtree-title:focus {
    outline: none;
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
    background: #7bd2f6;
    border-color: #5cc2ec;
    color: #174051;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.05)
}

ul.jqtree-tree .jqtree-toggler {
    font-size: 9px;
    padding-left: 5px;
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-circle {
    border: solid 2px #5cc2ec;
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-line {
    background-color: #5cc2ec;
}

ul.jqtree-tree span.jqtree-border {
    border: solid 2px #5cc2ec;
}